.nav-tabs a{
    /* font-size: 30px; */
    color: black;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    color: #F91942;
}
input#upload {
    /* margin-top: 20px; */
    padding: 13px;
}
.contact-checkbox{
    color: #F91942;
}
.contact-check{
    display: flex;
    justify-content: space-between;
}
input.input-check{
    height: 20px;
    width: 20px;
}
.add-listing-headline{
    display: flex;
    justify-content: space-between;
}
.radio-input-slider{
    margin-top: -10px;
}
.slider-radio{
    display: flex;
    gap: 0px 30px;
}
.btn-upload {
    display: inline-block;
    background-color: #F91942; /* Customize button color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* Change button color on hover */
.btn-upload:hover {
    background-color: #e6284b;
}

/* Hide default file input */
#fileInput {
    display: none;
}

/* Optional: to make the button text appear centered */
.btn-upload span {
    vertical-align: middle;
    color: white;
}
.img-gallery-div{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
